<footer>
    <section class="info">
        <div class="logo">
            <div (click)="router.navigate([''])">
                <div>Spyglass</div>
                <img src="../../assets/images/telescope.png" draggable="false">
            </div>
        </div>
        <div>©Copyright 2022 Spyglass Co. (U.S.A.)</div>
        <div class="social">
            <div>
                <div><i class="pi pi-instagram"></i></div>
                <div>Instagram</div>
            </div>
            <div>
                <div><i class="pi pi-twitter"></i></div>
                <div>Twitter</div>
            </div>
            <div>
                <div><i class="pi pi-facebook"></i></div>
                <div>Facebook</div>
            </div>
        </div>
    </section>
    <section class="links">
        <div>
            <div>Support</div>
            <div>About</div>
            <div>FAQ</div>
            <div>Press</div>
        </div>
        <div>
            <div>Why Invest?</div>
            <div>Blog</div>
            <div>Privacy Policy</div>
            <div>Terms of Use</div>
        </div>
    </section>
</footer>